 /*CSS Reset*/ 

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/ */
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  margin: 0;
  font-family: 'Pragati Narrow', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffdc34 !important;
  background-color: #110133 !important;
}

a {
  color: #ffdc34 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input[type="submit"] {
  cursor: pointer;
}
/*Navbar*/
.navbar-home-link {
  font-size: 2rem;
}

/***********Home****************/

.jumbotron {
  background-color: #00918e !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron h1 {
  font-size: 5rem;
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.players-list-card {
  min-width: 49%;
  margin-bottom: 1.5rem;

}

.card {
  border:none !important;
  background-color: #00918e !important;
} 

.champion-span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.champ-crown-logo {
  max-height: 75px;
  max-width: 75px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.crown-icon {
  max-height: 65px;
  max-width: 65px;
  margin-left: 1rem;
}

/* PlayerListCard*/

.card-body {
  display: flex !important;
  align-items: center !important;
}

.players-list-card :hover {
  background-color: #0278ae;
  border-radius: 5px;
  text-decoration: none;
}
.player-record {
 
}

/* PlayerCard */
.icon-span {
  display: inline-flex;
}

/* PlayerTable */

.player-table {
  margin-top: 2rem;
}

.player-table h4 {
  color: #ffdc34 !important;
}

.player-table td {
  padding-left: 0 !important;
}